#DiceContainer{
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}
#numDice{
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
#rollButton{
    font-size: 1rem;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}

#diceResults{ 
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}
#DiceImagesContainer img{    /* styles for dice images */
    width: 150px;
    height: 150px;
    margin: 5px;
}